.content {
    display: block;
    width: 100%;
}

.comtent_wrap {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}
.page_title {
    font-size: 6em;
    margin: 40px 0 60px;
}